<div class="container">
  <h1 class="title">This is my clown</h1>
  <div class="row">
    <div class="col-md-4">
      Chose a color
    </div> <!-- end of col md 4 -->
    <div class="col-md-8">
      <div class="clown">
        <div class="head"></div>
      </div> <!-- end of clown -->
    </div> <!-- end of col md 8 -->
  </div> <!-- end of row -->
  <h1 class="title">SVG test</h1>
  <div class="row">
    <svg width="250" height="250">
      <circle cx="50" cy="50" r="40" stroke="green" stroke-width="4" fill="black" />
    </svg>
  </div> <!-- end of row SVG test -->
  <h1 class="title">How Often Do Developers Work Remotely?</h1>
  <div class="row">
  <div id="app2">
  <div class="col-md-12 graph-result">
    <dl>
      <dd>
      <div class="input">
        <input type="text"
          placeholder="#3d9970" /></div>
        <div class="label"> It's complicated</div>
        <div class="percentage">
          <span
            v-bind:style="color1"
            class="percentage-1">4.2%</span></div>
      </dd>
      <dd>
      <div class="input"><input type="text" placeholder="#3d9970"/></div>
        <div class="label"> All or almost all the time (I'm full-time remote)</div>
        <div class="percentage"><span class="percentage-2">11.1%</span></div>
      </dd>
      <dd>
      <div class="input"><input type="text" placeholder="#3d9970"/></div>
        <div class="label"> More than half, but not all, the time</div>
        <div class="percentage"><span class="percentage-3">4.3%</span></div>
      </dd>
      <dd>
      <div class="input"><input type="text" placeholder="#3d9970"/></div>
        <div class="label"> About half the time</div>
        <div class="percentage"><span class="percentage-4">4.0%</span></div>
      </dd>
      <dd>
      <div class="input"><input type="text" placeholder="#3d9970"/></div>
        <div class="label"> Less than half the time, but at least one day each week</div>
        <div class="percentage"><span class="percentage-5">9.4%</span></div>
      </dd>
      <dd>
      <div class="input"><input type="text" placeholder="#3d9970"/></div>
        <div class="label"> A few days each month</div>
        <div class="percentage"><span class="percentage-6">35.1%</span></div>
      </dd>
      <dd>
      <div class="input"><input type="text" placeholder="#3d9970"/></div>
        <div class="label"> Never</div>
        <div class="percentage"><span class="percentage-7">31.8%</span></div>
      </dd>
    </dl>
    </div> <!-- end of col md 12 -->
  </div> <!-- end of app2 -->
  </div> <!-- end of row Working remote -->
</div> <!-- end of container -->
