@import url('https://fonts.googleapis.com/css?family=Lato:700');

//colors
@background: #422139;
@clear: none;
@primary: #50E6EB;
@accent: #E9FD9A;
@white: white;

//fonts
@large: 40px;
@center: center;
@uppercase: uppercase;
@primaryFont: "Lato";
@thick: 700;

//shapes
@circle: 50%;
