<div class="blog-masthead">
  <div class="container">
    <nav class="nav blog-nav">
      <a class="nav-link active" href="index.html">CSS Sketch</a>
      <a class="nav-link" href="style-guide.html">Style Guide</a>
      <a class="nav-link" href="coding-artist.html">Coding Artist</a>
      <a class="nav-link" href="clown.html">Clown</a>
    </nav>
  </div>
</div>
